* {
    margin: 0;
    padding: 0;
}

body {
    font-size: 14px;
    line-height: 26px;
    color: #333333;
    font-family: "PT Sans", "Helvetica", "Arial", "sans-serif";
    text-transform: uppercase;
}

.wrapper {
    background: #fff;
    box-shadow: 0 0 20px rgba(50,50,50,.75);
}

@media (max-width: 900px) {
    .wrapper {
        box-shadow: none;
    }
}


.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

h2 {
    font-size: 30px;
    line-height: 24px;
    color: #000;
    font-weight: bold;
}

h3 {
    font-size: 21px;
    line-height: 26px;
    color: #000;
    font-weight: bold;
}


.text-crossed:before,
.text-crossed:after {
    content: "\2014";
    margin: 0 5pt;
}

.bg-gray {
    background: #eee;
}

.container{
    min-width: 768px;
    max-width: 1200px;
    margin: 0 auto;
    position: relative;
}


/* Header -------------------------------------------- */
.main-header {
    position: relative;
}

.header-logo {
    display: inline-block;
    position: absolute;
    width: 138px;
    height: 70px;
    left: 50%;
    transform: translateX(-50%);
}

.main-navigation {
    font-size: 0;
    padding: 0;
}
.main-navigation li {
    display: inline-block;
    padding-top: 15px;
    padding-bottom: 15px;
    width: 20%;
    vertical-align: top;
    font-size: 14px;
    text-align: center;
}

.main-navigation li:nth-child(4n-2){
  margin-right: 20%;
}
.main-navigation a {
    color: black;
    font-weight: bold;
}

/* Into -------------------------------------------- */

.welcome-block {
    min-height: 508px;
    text-align: center;
    padding-top: 76px;
    background: url("../img/index/mask.png") no-repeat center bottom,
    #8b99a2 url("../img/index/background-main.jpg") no-repeat  50% 40%;
    background-size: auto, cover;
    margin-bottom: 58px;

}

.welcome-block img {
    width:458px;
    height:352px;

}

.slogan-title {
    width: 576px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 27px;
}

.slogan-text {
    width: 576px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 51px;
    line-height: 26px;
}

/* Benefit ------------------------------------------------- */

.table-row {
    display: table-row;
    
}

.table-cell {
    display: table-cell;
}

.col-1 {
    width: calc(100%/3);
    box-sizing: border-box;
}

.col-2 {
    width: calc(100%/3*2);
    box-sizing: border-box;
}

.row [class*=col-]{
    float: left;
}

.benefit {
    box-sizing: border-box;
}
.benefit-block {
    padding: 45px 50px;
    text-align: center;
}

.benefit-block .benefit-block-title,
.benefit-block .benefit-block-icon,
.benefit-block p {
    margin-bottom: 20px;
}
.benefit-block .benefit-block-icon,
.benefit-block img {
    margin-top: 20px;
}
.benefit-block.benefit-block-info :last-child {
    margin-bottom: 0;
}

.benefit-block-info {
    background: #81b3d2;
}

.benefit-block-info,
.benefit-block-info .benefit-block-title {
    color: white;
}

.benefit-block-icon {
    display: inline-block;
    width: 75px;
    height: 75px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}
.benefit-block-icon.icon-food {
    background-image: url(../img/icons/icon-food.png);
}
.benefit-block-icon.icon-housing {
    background-image: url(../img/icons/icon-housing.png);
}
.benefit-block-icon.icon-souvenirs {
    background-image: url(../img/icons/icon-souvenirs.png);
}
.benefit-block-image {
    background-size: 100% auto;
    background-position: center;
    background-repeat: no-repeat;
}

@media (max-width: 900px) {
    .benefit-block-image {
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
}
.town-image {
    background-image: url("../img/index/benefit-1.jpg");
}

.bridge-image {
    background-image: url("../img/index/benefit-2.jpg");
}

.booking {

}

.booking-header {
    width: 576px;
    margin: 0 auto;
    text-align: center;
    padding-top: 56px;

    outline: 1px solid blue; /*вспомогательный стиль*/
}

.booking-block {
    width: 576px;
    margin: 0 auto;
    text-align: center;

    outline: 1px solid blue; /*вспомогательный стиль*/
}

/* Inner -------------------------------------------- */

/* Filter-------------------------------------------- */

.filter-field {
    min-height: 217px;
    padding-left: 6%;
    padding-right: 6%;
    background: url(../img/inner/bg-filter.jpg) no-repeat  50% 50%;
    background-size: cover;

    outline: 1px solid green; /*вспомогательный стиль*/
}

.filter-field-column {
    box-sizing: border-box;
    float: left;
    margin-right: 9.4%;

    outline: 1px solid blue; /*вспомогательный стиль*/
}


.filter-field-block {
    box-sizing: border-box;
    min-height: 200px;
    float: right;
    width: 31%;

    outline: 1px solid blue; /*вспомогательный стиль*/
}

/* Sorting -------------------------------------------- */

.sort-result {
    box-sizing: border-box;
    min-height: 93px;
    padding-right: 6%;
    padding-left: 6%;
    padding-top:30px;
    outline: 1px solid blue; /*вспомогательный стиль*/
}

.sort-result-container {
    float: left;
    margin-right: 48px;


    outline: 1px solid blue; /*вспомогательный стиль*/
}

.sort-variant-container {
    float: left;
    margin-right: 38px;
    outline: 1px solid blue; /*вспомогательный стиль*/
}

.sort-variant-block {
    float: left;
    margin-right: 31px;
}

.sort-order-container {
    float: right;

    outline: 1px solid blue; /*вспомогательный стиль*/

}

/* Results -------------------------------------------- */

.result-block {
    padding-left: 6%;
    padding-right: 6%;

    outline: 1px solid blue; /*вспомогательный стиль*/
}

.result-block-item {
    outline: 1px solid black; /*вспомогательный стиль*/
}
.item-image-block {
    float: left;
    padding-top: 30px;
    padding-bottom: 30px;
    width: 135px;
    margin-right: 31px;
}

.item-info-block {
    float: left;
    padding-top: 30px;
    padding-bottom: 30px;
}

.item-raiting-block {
    float: right;
}

.item-information {
    float: left;
    margin-right: 6px;

    outline: 1px solid black; /*вспомогательный стиль*/
}

/* Footer ------------------------------ */

.footer {
    box-sizing: border-box;
    width: 100%;
    font-size: 0;  
    background-color: #ffffff;
    height: 120px;
    padding: 40px 0;
    text-align: center;
}

.footer-hashtag,
.footer-social,
.footer-copyright {
   display: inline-block;
   width: calc(100%/3);
   text-align: center;
}

.footer-hashtag {
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
}
.footer-social,
.footer-copyright {
  font-size: 14px;
  line-height: 21px;
}

.footer-copyright img {
  vertical-align: middle;
}